region             = "eu-central-1"
project_name       = "jenkins-hw-serhii"
allowed_ssh_cidr   = "YOUR_PUBLIC_IP/32"
ssh_public_key     = "ssh-ed25519 AAAA... your-key"
master_instance_type = "t3.small"
worker_instance_type = "t3.small"
